.searchbox {
  display: flex;
}

.searchbox input {
  font-size: 20px;
  padding: 12px;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input:focus {
  outline: none;
}