.listItem{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #80808059;
}
.listItem:hover{
    background-color: darkgray;
}
.listItem h4{
    padding-left: 3px;
}

.listItem p{
    padding-left: 3px;
}