<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fabhotel AutoSuggest</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuBrth5voXhBLr5v2prYhZPB_rZZRq2I&libraries=places&callback=initMap"async></script>
</head>

<body>
    <div id="root"><%- reactApp %></div>
</body>

</html>