<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fabhotel AutoSuggest</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuBrth5voXhBLr5v2prYhZPB_rZZRq2I&libraries=places&callback=initMap"async></script>
<script defer src="/public/js/react-src_constant_hotelData_js-node_modules_react-dom_index_js.js"></script><script defer src="/public/js/hotel.js"></script><link href="/public/css/hotel.css" rel="stylesheet"></head>

<body>
    <div id="root"><%- reactApp %></div>
</body>

</html>