<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fabhotel AutoSuggest</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuBrth5voXhBLr5v2prYhZPB_rZZRq2I&libraries=places&callback=initMap"async></script>
<link href="/public/css/hotel.css" rel="stylesheet"></head>

<body>
    <div id="root"><%- reactApp %></div>
<script src="/public/js/react.hotel.index.js"></script><script src="/public/js/hotel.js"></script></body>

</html>