h1 {
    color: gray;
    text-align: center;
}
.container{
  width: 50%;
  margin: auto;
  
}
.searchbox {
  display: flex;
}

.searchbox input {
  font-size: 20px;
  padding: 12px;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input:focus {
  outline: none;
}
.listItem{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #80808059;
}
.listItem:hover{
  background-color: darkgray;
}
.listItem h4{
  padding-left: 3px;
}

.listItem p{
  padding-left: 3px;
}

.resultlist{
  background-color: lightgray;
  padding-top: 17px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
}
}